@import "../../../../../../../styles/classes.scss";
@import "../../../../../../../styles/variables.scss";

.images_main {
    @extend .center_content;

    width: 50vw;
    flex-direction: column;
    position: relative;
    padding: 30px;
    min-height: 250px;
    overflow: hidden;
    background-color: $images_color;
}

.slides_cont {
    height: auto;
    display: flex;
    position: absolute;
    transition: 0.5s;
}

.images_title {
    align-self: center;
}

.arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    z-index: 2;
    opacity: 0.85;

    &:hover {
        opacity: 0.7;
        filter: grayscale(50%) blur(5px);

    }
}

.arrow_left {
    @extend .arrow;

    rotate: 180deg;
    left: 20px;
}

.arrow_right {
    @extend .arrow;

    right: 20px;
}