@import "../../../../../../../styles/classes.scss";

.main {
    @extend .center_content;

    width: 50vw;
    position: relative;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-start;
}
