.dom_element {
    width: 500px;
    height: 40px;
    background-color: skyblue;
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.dom_text_element {
    @extend .dom_element;

    background-color: green;
    justify-content: center;
    overflow: hidden;
}

.indicator_line {
    width: 1.5px;
    background-color: green;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}