.main {
    width: 75vw;
    height: 120px;
    border: 1px solid green;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slides_cont {
    height: 100%;
    border: 1px solid blue;
    display: flex;
}