@import "../../../../../styles/classes.scss";

.main {
    @extend .center_content;

    width: 50vw;
    border: 1px solid green;
    flex-direction: column;
    position: relative;
    padding: 30px;
    height: 250px;
}

.slides_cont {
    height: auto;
    border: 1px solid blue;
    display: flex;
}