@import "../../../../../../../styles/classes.scss";

.main {
    @extend .center_content;

    padding-left: 20px;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: pink;
    margin: 10px;
    cursor: pointer;
}

.name {
    color: green;
    font-size: 25px;
    margin-right: 20px;
}

.link {
    color: purple;
    font-size: 25px;
}