@import "../../../../../styles/variables.scss";
@import "../../../../../styles/classes.scss";

.main {
    width: 100%;
    height: auto;
    border: 1px solid red;
    padding: 50px;
}

.form {
   @extend .center_content;
}

.url_input {
    padding: 10px;
    width: 750px;
    height: 60px;
    background-color: $color1;
    background: linear-gradient(21deg, $color1, $color2);
    border-radius: 20px;
    border-color: linear-gradient(21deg, $color3, $color4);
    color: $color3;
    font-size: 20px;
    position: relative;
    z-index: 2;

    &::placeholder {
        color: $color2;
        opacity: 0.4;
        font-size: 22px;
    }
}

.submit_button {
    width: 160px;
    height: 60px;
    font-size: 20px;
    color: $color3;
    background-color: $color4;
    position: relative;
    left: -40px;
    z-index: 0;
    border-radius: 20px;
    cursor: pointer;
}