@import "../../../../../styles/variables.scss";
@import "../../../../../styles/classes.scss";

.main {
    width: 100%;
    height: auto;
    border: 1px solid red;
    padding: 50px;
}

.form {
   @extend .center_content;
}

.url_input {
    padding-left: 15px;
    padding-right: 35px;
    width: 750px;
    height: 60px;
    background-color: $color1;
    background: linear-gradient(21deg, $color4 0%, $color3 100%);
    border-radius: 20px;
    border: none;
    color: $color1;
    font-size: 20px;
    position: relative;
    z-index: 2;

    &::placeholder {
        color: $color2;
        opacity: 0.55;
        font-size: 22px;
    }
}

.clear_button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    left: -35px;
    position: relative;
    z-index: 2;
}

.submit_button {
    width: 160px;
    height: 60px;
    font-size: 20px;
    background-color: $color4;
    color: $color1;
    font-weight: 900;
    position: relative;
    left: -65px;
    z-index: 0;
    border-radius: 20px;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: none;

    &::before {
       content: "";
       display: block;
       width: 110%;
       height: 100%;
       position: absolute;
       left: -100%;
       transition: 1s;
       top: 0px;
       background-color: $color3;
    }

    &:hover {
        &::before {
            left: 0;
        }
        
        & .submit_text {
            color: $color4;
        }
    }
}

.submit_text {
    transition: 1s;
    position: relative;
    z-index: 2;
    color: $color3;
}