@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "./variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: $color1;
}

a {
  color: inherit;
  text-decoration: none;
}

.section_title {
  text-align: center;
  margin-bottom: 5px;
  color: $color2;
  border: 1px solid $color3;
  padding: 5px;
  width: 200px;
  position: absolute;
  top: 0px;
}

.actions_cont {
  display: flex;
}

.show_more {
  color: $color2;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
   
  &:hover {
    color: $color3;
  }
}

.show_less {
  @extend .show_more;
  
  margin-left: 10px;
  color: $color3;

  &:hover {
   color: $color2;
  }
}