// colors 
$color1: #237347;
$color2: #4169E1;
$color3: #C62828;
$color4: #9B9B9B;

// sizes 
$header_height: 75px;
$rooms_height: 600px;
$logo_height: 50px;
$logo_width: 120px;
$user_info_width: 150px; 