// colors 
$color1: #85a2a0;
$color2: #d21723;
$color3: #43202d;
$color4: #1985cf;
$color5: #14b514;

// section colors

$speed_color: teal;
$titles_color: slateblue;
$images_color: rgb(40, 234, 182);
$dom_model_color: rgb(244, 227, 227);
$links_color: orange;


// sizes 
$header_height: 100px;
